profiles {
  standard {
    process.executor = 'local'
  }
}

process {
  errorStrategy = 'retry'
  maxRetries = 1
  withName:PyPGxBam2Vcf { cpus = 2; memory = '4 GB' }
  withName:PyPGxGenotypeAll { cpus = 2; memory = '4 GB' }
  withName:PharmCATRun { cpus = 2; memory = '4 GB' }
}

workDir = 'data/nextflow/work'
timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = false


